* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  background-color: rgb(40, 40, 40);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: rgb(15, 0, 55); /* You can change the color */
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none; /* Ignore pointer events to avoid blocking clicks */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease; /* Smooth movement */
  z-index: 1000; /* Ensure the ball is on top of all other elements */
}

.home-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: rgba(100, 100, 150, 0.5);   
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 5px;
  cursor: none;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.home-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000000; /* Change text color on hover */
}

a {
  cursor: none;
}

.hero {
  position: relative;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading h1 {
  color: white;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-content {
  max-width: 600px;
  margin: 20px;
  animation: fadeInUp 2s ease;
}

.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: white;
}

.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: white;
  text-align: justify; /* Justify the text */
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  .hero-content h2 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

footer {
  background-color: rgb(30, 30, 30);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  cursor: none; 
}
